body{
    background-color: #f5ecef;
}
.main{
    background-color:white;
    margin:30px ;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 43px;
    height: 43px;
}
.media-body{
    padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: 800;
    color: #b35f5f
}
.profile .sec{
    margin-top:20px;
}
.star1-menu{
    color: #afbdca;
}
.jumbotron{
    margin:50px;
}
.comment{
    margin:10px 0;
}
.comment-btn{
    float: right;
    margin: 10px 0;
}