<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>


</head>
<body>
<div th:insert="~{navigation.html::nav}"></div>
<div class="container-fluid main profile">
    <!--左边9份-->
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
        <h2><span th:text="${sectionName}"></span></h2>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><!--我是分割线-->
        <!--显示我的问题div-->
        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"th:if="${section=='question'}">
            <div class="media"th:each="question : ${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded " th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-desc">
                    <span th:text="${question.commentCount}"></span>回复*<span th:text="${question.viewCount}"></span>浏览*<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                </span>
                </div>
            </div>
        </div>
        <!--显示我的回复-->
        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='replies'}">
            <div class="media"th:each="notification : ${pagination.data}">
                <div class="media-body">
                    <span th:text="${notification.notifierName+' '+notification.typeName+' '} "></span>
                    <p class="media-heading">
                        <a th:href="@{'/notification/'+${notification.id}}" th:text="${notification.outerTitle}">
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!--显示页码的div-->
        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--显示页码的nav-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page: ${pagination.pages}" th:class="${pagination.pag==page}? 'active' : ''">
                        <a th:href="@{'/profile/'+${section}(page=${page})} " th:text="${page}"></a>
                    </li>

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--右边3份-->
    <div class="col-lg-3 ol-md-12 col-sm-12 col-xs-12">
            <div class="list-group sec">
            <a href="/profile/question" th:class="${section=='question'}? 'active list-group-item ': 'list-group-item'" >我的问题</a>
            <a href="/profile/replies" th:class="${section=='replies'}? 'active list-group-item ' : 'list-group-item '" >
                最新回复
                <span class="badge" th:text="${unreadCount}"></span>
            </a>

        </div>
    </div>
</div>
</body>
</html>